html,
body {
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 10px;
}

.AppFooter {
  font-size: 1em;
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 10px;
}
